body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.animal-history-banner {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.image-slider {
    text-align: center;
    margin: 20px;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
}

.carousel-slide {
    display: none;
}

.carousel-slide img {
    max-width: 100%;
    max-height: 300px;
}

.animal-description {
    text-align: center;
    margin: 20px;
}

/* Styling for buttons */
button {
    color: #fff;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    max-height: 40px;
    max-width: 80px;
    margin: auto;
}

#playButton {
    background-color: #3498db;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .carousel-slide img {
        max-height: 200px;
    }
}

@media screen and (max-width: 480px) {
    .carousel-slide img {
        max-height: 150px;
    }

    .animal-description {
        font-size: 14px;
    }
}